
@{
    ViewData["Title"] = "Carrito";
    Layout = "~/Views/Shared/_Layout-store.cshtml";
}

<div class="elementor__header-cart">
    <div class="content__header-cart col-lg-10">
        <h1 class="title-lg">Mi Carrito de Compras</h1>
        <a href="tienda-pet-productos.html" class="p-m-lg"><i class="fa-solid fa-chevron-left"></i> Sigue comprando</a>
    </div>
</div>


<main>
    <div class="content__main">
        <div class="container-table-shop">
            <table class="table-shop">
                <tr>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>CANTIDAD</th>
                    <th>SUBTOTAL</th>
                </tr>
                <tr>
                    <td>
                        <div class="content__product-info">
                            <button class="btn-s btn-delete" type="submit" value=""><i class="icon-delete"></i></button>
                            <div class="product-info">
                                <div class="img-item">
                                    <img src="../img/items/product-example.png" alt="imagen de producto">
                                </div>
                                <div class="item-details">
                                    <p class="p-b">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                    <p>Ricocan</p>
                                    <p>RIC00044</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="p-b-md">S/118.90</td>
                    <td>
                        <div class="count-stock">
                            <span class="p-b-in">-</span>
                            <span class="p-b-md">2</span>
                            <span class="p-b-in">+</span>
                        </div>
                    </td>
                    <td class="p-b-md">S/237.80</td>
                </tr>
                <tr>
                    <td>
                        <div class="content__product-info">
                            <button class="btn-s btn-delete" type="submit" value=""><i class="icon-delete"></i></button>
                            <div class="product-info">
                                <div class="img-item">
                                    <img src="../img/items/product-example.png" alt="imagen de producto">
                                </div>
                                <div class="item-details">
                                    <p class="p-b">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                    <p>Ricocan</p>
                                    <p>RIC00044</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="p-b-md">S/118.90</td>
                    <td>
                        <div class="count-stock">
                            <span class="p-b-in">-</span>
                            <span class="p-b-md">2</span>
                            <span class="p-b-in">+</span>
                        </div>
                    </td>
                    <td class="p-b-md">S/237.80</td>
                </tr>
                <tr>
                    <td>
                        <div class="content__product-info">
                            <button class="btn-s btn-delete" type="submit" value=""><i class="icon-delete"></i></button>
                            <div class="product-info">
                                <div class="img-item">
                                    <img src="../img/items/product-example.png" alt="imagen de producto">
                                </div>
                                <div class="item-details">
                                    <p class="p-b">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                    <p>Ricocan</p>
                                    <p>RIC00044</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="p-b-md">S/118.90</td>
                    <td>
                        <div class="count-stock">
                            <span class="p-b-in">-</span>
                            <span class="p-b-md">2</span>
                            <span class="p-b-in">+</span>
                        </div>
                    </td>
                    <td class="p-b-md">S/237.80</td>
                </tr>
                <tr>
                    <td>
                        <div class="content__product-info">
                            <button class="btn-s btn-delete" type="submit" value=""><i class="icon-delete"></i></button>
                            <div class="product-info">
                                <div class="img-item">
                                    <img src="../img/items/product-example.png" alt="imagen de producto">
                                </div>
                                <div class="item-details">
                                    <p class="p-b">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                    <p>Ricocan</p>
                                    <p>RIC00044</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="p-b-md">S/118.90</td>
                    <td>
                        <div class="count-stock">
                            <span class="p-b-in">-</span>
                            <span class="p-b-md">2</span>
                            <span class="p-b-in">+</span>
                        </div>
                    </td>
                    <td class="p-b-md">S/237.80</td>
                </tr>
            </table>
        </div>
        <aside>
            <div class="content__details-cart">
                <h2 class="p-b-md">TOTAL DEL CARRITO</h2>
                <div class="elementor-divider"></div>
                <div class="cart-subtotal">
                    <span class="p-md">Subtotal</span>
                    <span class="p-b">S/951.20</span>
                </div>
                <div class="cart-send">
                    <span class="p-md">Envío</span>
                    <span class="p-b">S/6.00</span>
                </div>
                <div class="cart-total">
                    <span class="p-md">Subtotal</span>
                    <span class="p-b">S/957.20</span>
                </div>
                <button class="btn btn-cart">FINALIZAR COMPRA</button>
            </div>
        </aside>
    </div>
</main>


<div class="container__products-similar">
    <div class="content__products-similar">
        <div class="elements__header-text text-left">
            <h1 class="title-md">Te recomendamos estos productos</h1>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-item swiper-slide">
                        <div class="card-item-content">
                            <div class="card-item__img">
                                <img src="../img/items/product-example.png" alt="image product">
                            </div>
                            <div class="card-item__info">
                                <p class="card-title">RICOCAN Adultos todas las razas multisabores Bolsa 15Kg</p>
                                <p class="card-price">S/. 118.90</p>
                                <div class="btn-card">
                                    <a href="#" class="btn-s btn-cart-2">AGREGAR CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <i class="fa-solid fa-angle-left swiper-prev slider__btn"></i>
            <i class="fa-solid fa-angle-right swiper-next slider__btn"></i>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>