@model VetPet.Models.ProductoEntity

<div class="elementor__user-back ">
    <div class="content__user-back col-lg-10">
        <a asp-action="Index" class="p-m-in">
            <i class="fa-solid fa-chevron-left"></i>
            <span>Regresar</span>
        </a>
    </div>
</div>

<div class="content__item col-lg-10">
    <section class="section__item">
        <h1 class="title-lg">Editar Producto</h1>
        <div class="elementor-divider-item"></div>
        <p class="p-md">Modifica los parametros del producto,<br>edita cuidadosamente porfavor.</p>
    </section>
</div>



<div class="container__form-product">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <div class="container-flex-form">
            <div class="content__form">
                <div class="form-group">
                    <label class="label-custom" asp-for="Nonbre">Nombre</label>
                    <input class="input-custom" asp-for="Nonbre" required>
                </div>

                <div class="form-group">
                    <label asp-for="DescripcionProd">Descripción</label>
                    <input class="input-custom" asp-for="DescripcionProd" required>
                </div>

                <div class="form-group">
                    <label asp-for="CaracteristicasProd">Características</label>
                    <textarea class="textArea-custom input-custom" asp-for="CaracteristicasProd" rows="4" required></textarea>
                </div>

                <div class="form-group">
                    <label for="Marca.Id">Marca</label>
                    <select select class="input-custom input-select" asp-for="Marca.Id" asp-items="ViewBag.Marca"></select>
                </div>

                <div class="form-group">
                    <label for="Categoria.Id">Categoría</label>
                    <select select class="input-custom input-select" asp-for="Categoria.Id" asp-items="ViewBag.Categoria"></select>
                </div>

                <div class="form-group">
                    <label for="TipoAnimal.Id">Tipo de Animal</label>
                    <select select class="input-custom input-select" asp-for="TipoAnimal.Id" asp-items="ViewBag.TipoAnimal"></select>
                </div>


                <div class="form-group">
                    <label asp-for="SKU">SKU (Código de Item)</label>
                    <input asp-for="SKU" class="input-custom" required>
                </div>

                <div class="form-group">
                    <label asp-for="Precio">Precio</label>
                    <input asp-for="Precio" class="input-custom" required>
                </div>

                <div class="form-group">
                    <label asp-for="Stock">Stock</label>
                    <input asp-for="Stock" type="text" class="input-custom" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>

            <div class="img-product">
                <img src="~/img/@Model.Imagen" alt="Imagen del producto"/>
            </div>
        </div>


        
    </form>
</div>
