@model List<VetPet.Models.TipoAnimalEntity>

<h2 class="titulo">Mantenimiento de los tipos de animales</h2>

<div class="crearnuevo">
    <a asp-controller="TipoAnimal" asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipo in Model)
            {
                <tr>
                    <td>@tipo.Id</td>
                    <td>@tipo.Descripcion</td>
                    <td>
                        <a asp-controller="TipoAnimal" asp-action="Edit" asp-route-id="@tipo.Id" class="btn btn-info btn-sm crud-button">Editar</a>
                    </td>
                    <td>
                        <a asp-controller="TipoAnimal" asp-action="Delete" asp-route-id="@tipo.Id" class="btn btn-danger btn-sm crud-button">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .titulo {
        text-align: center;
        color: blue;
        margin-bottom: 20px;
    }

    .crearnuevo {
        text-align: left;
        margin-bottom: 10px;
    }

    .crud-button {
        margin-left: 5px;
    }
</style>
