@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top: 20px;">
    <h2>Bienvenido de nuevo</h2>
    <!-- <p>Nombre del Administrador: @ViewBag.nombres</p> -->
    <!-- Otra información si es necesario -->
</div>
