@model VetPet.Models.EnfermedadesEntity

<h2>Editar Enfermedad</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group col-md-4">
        <label asp-for="DescripcionEnferm">Descripcion</label>
        <input asp-for="DescripcionEnferm" class="form-control" required>
    </div>


    <div class="form-group" method="post">
        <button type="submit" class="btn btn-info">Guardar Cambios</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>